{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} La Croix-Rouge {% endblock %}</h1>
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="https://www.croix-rouge.fr/var/crf_internet/storage/images/accueil/la-croix-rouge/un-mouvement-international/1489-12-fre-FR/Un-mouvement-international_large.gif" class="card-img-top" alt="...">
                <div class="card-body">
                  <h2 class="card-title">Un mouvement international</h2>
                  <p class="card-text">Le mouvement international de la Croix-Rouge et du Croissant-Rouge ou « le pouvoir de l’humanité ». Plus importante organisation humanitaire au monde, la Croix-Rouge regroupe 97 millions d’hommes et de femmes. Structure, origines, emblèmes, identité et principes communs… trouvent leur origine dans les Conventions de Genève.</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="https://www.croix-rouge.fr/var/crf_internet/storage/images/accueil/la-croix-rouge/la-croix-rouge-francaise/1519-12-fre-FR/La-Croix-Rouge-francaise_large.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h2 class="card-title">La Croix-Rouge française, une organisation au service d'une ambition</h2>
                  <p class="card-text">La Croix-Rouge française, c’est à la fois une association de 54 000 bénévoles engagés depuis près de 150 ans sur de nombreux fronts de la lutte contre les précarités et une entreprise à but non lucratif de services dans les champs sanitaire, social, médico-social et de la formation avec 18 000 salariés dans plus de 600 établissements. </p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="https://www.croix-rouge.fr/var/crf_internet/storage/images/accueil/la-croix-rouge/droit-international-humanitaire/1579-10-fre-FR/Droit-International-Humanitaire_large.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h2 class="card-title">Le Droit International Humanitaire </h2>
                  <p class="card-text">Outil le plus puissant pour faire respecter la dignité des personnes en temps de guerre, le Droit International Humanitaire (DIH) est placé sous l’égide du CICR.</p>
                </div>
            </div>
        </div>
      </div>
    
{% endblock %}